# Arquivos de Build e Dependências do Java/Maven
/user-service/target/
/task-service/target/
*.jar
*.war

# Arquivos de Dependências do Node.js
/frontend/node_modules/
/frontend/dist/
/frontend/.angular/
npm-debug.log

# Arquivos de IDE
.idea/
*.iml
.vscode/

# Arquivos de Sistema Operacional
.DS_Store
Thumbs.db